body {
  padding: 0;
  margin: 0;
  background-color: #121212;
}

#content {
  background-color: #212121;
  color: aliceblue;
  padding: 12px;
  margin: 12px;
  font-family: sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

#heading {
  font-size: clamp(12px, 5vh, 44px);
}

button {
  background-color: #323232;
  color: white;
  border: none;
  padding: 10px 34px;
  cursor: pointer;
}
button:hover {
  background-color: #565656;
}

#title {
  font-weight: bold;
}

.quizButtons {
  display: none;
}

img {
  max-width: 50%;
}

#quiz {
  display: none;
}
li {
  padding-bottom: 10px;
}

input {
  margin-right: 10px;
}

.optionItem {
  margin-bottom: 10px;
}

a {
  color: yellow;
}

#result {
  display: none;
}

@media only screen and (max-width: 600px) {
  #content {
    margin-left: 5%;
    margin-right: 5%;
  }
}
